@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

.hero-slider .slick-dots {
    bottom: 8px !important;
}

.hero-slider .slick-dots li button:before{
    color: #fff !important;
}

.featuredSlider .css-1kd2knt-MuiButtonBase-root-MuiIconButton-root::before {
    display: none !important;
}

.featuredSlider .css-1kd2knt-MuiButtonBase-root-MuiIconButton-root {
    display: inline-flex !important;
    padding: 20px !important;
    background-color: rgb(133, 133, 133);
}

.featuredSlider .css-1kd2knt-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: rgb(67, 67, 67);
    color: #fff !important;
}

.featuredSlider .slick-prev {
    padding-left: 23px !important;
    padding-right: 18px !important;
}

.featuredSlider .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.sm-navbar a {
    font-size: 1rem;
    padding: 12px 14px;
}

@media screen and (max-width: 600px) {
    .featuredSlider .slick-prev {
        left: 0 !important;
    }

    .featuredSlider .slick-next {
        right: 0 !important;
    }
}