@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif !important;
}

body {
    background-color: #f5f5f5 !important;
}

.hero-slider .slick-dots {
    bottom: 8px !important;
}

.hero-slider .slick-dots li button:before{
    color: #fff !important;
}

.featuredSlider .slick-arrow {
    background-color: rgb(67, 67, 67) !important;
    border-radius: 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.featuredSlider .slick-prev {
    padding: 15px !important;
    padding-right: 17px !important;
    padding-bottom: 17px !important;
    left: -12px !important;
}

.featuredSlider .slick-prev::before {
    content: '\276E' !important;
}

.featuredSlider .slick-next {
    padding: 15px !important;
    padding-left: 17px !important;
    padding-bottom: 17px !important;
    right: -12px !important;
}

.featuredSlider .slick-next::before {
    content: '\276F' !important;
}

.featuredSlider .slick-prev,
.featuredSlider .slick-next {
    height: 38px !important;
    width: 38px !important;
    z-index: 5;
}

.featuredSlider .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.sm-navbar a {
    font-size: 1rem;
    font-weight: 600 !important;
    padding: 12px 14px;
    display: flex !important;
    align-items: center !important;
}

.sm-navbar .css-i4bv87-MuiSvgIcon-root {
    margin-inline-end: 15px !important;
}

.service h5 {
    font-weight: 600;
    margin: 8px 0;
}

.service img {
    padding: 8px 0;
}

.service p {
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .featuredSlider .slick-prev {
        left: 6px !important;
    }

    .featuredSlider .slick-next {
        right: 6px !important;
    }
}